html, body {
    height: 100%;
  }

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

#root{
    display: flex;
    flex-direction: column;
}

header {
    border-style: solid;
    border-width: 1px;
    border-color: #E4EBE0;
}

.images {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 4%;
    top: 4%;
}

h1 {
    background-color:#3982B0;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color:#263F60;
}

#submit {
    background-color:#3982B0;
}

#main {
    background-image: url("./images/whirlpool.png");
    flex: 1 0 auto;
    border-style: solid;
    border-width: 1px;
    border-color: #E4EBE0;
    margin: 0 0 60px 0;
}

.footer {
   
    border-top: 8px solid #75B7D0;
    background-color: #263F60;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

#footer {
    /* position: relative; */
    display: flex;
}

#Picture {
    width: 270px;
    height: 250px;
    border-radius: 5px;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}

h4 {
    background-color: #263F60;
    width: 200px; 
}

.about {
    background-color: #E4EBE0;
}

.box {
    position: relative;
    height: 270px;
}

.label {
    position: absolute;
    top: 60%;
    left: 4%;
    text-align: center;
    background-color: #75B7D0;
    color: black;
    width: 200px;
}

.git {
    position: absolute;
    top: 75%;
    left: 4%;
    text-align: center;
    background-color: #75B7D0;
    color: black;
    width: 200px;
}

#link {
    line-height: 40px;
}

p {
    color:#263F60;
}

.img-container {
    height: 220px;
    width: 220px;
    background-color: #3982B0;
    border-radius: 5px;
}